* {
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

.banner-top {
    background: url(images/top-bg.jpg);
    background-repeat: no-repeat;
}

.banner-top-child {
    text-align: center;
    padding: 150px 300px 182px 300px;
    background: linear-gradient(180deg, transparent,#1d1818);
    color: #FFFFFF;
}

.banner-top-child h1 {
    font-size: 65px;
    margin: 0 0 20px 0;
}

.banner-top-child p {
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    opacity: .9;
    margin: 0 65px 50px 65px;
}

.banner-top-child a {
    text-decoration: none;
    background: #FF5959;
    padding: 15px 25px 15px 25px;
    border-radius: 5px;
    color: #ffffff;
    font-size: 20px;
}